{% extends "website/base.html" %}

{% block content %}
    <div class="peoplecontent">
        <h1>OUR EXECUTIVES</h1>
    </div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/Arunraj.jpg" alt="founder image" width="200" height="400">
            </div>
            <div class="peoplename"><h2>Arunraj</h2></div>
            <div class="peoplepost"><h3>(Founder)</h3></div>
        </div>
    
        
    </div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/Jayasree.jpeg" alt="CEO image" width="250" height="300">
            </div>
            <div class="peoplename"><h2>Jayasree</h2></div>
            <div class="peoplepost"><h3>(Chief Executive Officer)</h3></div>
        </div>
    
       
    </div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/Lishali.jpeg" alt="COO image" width="220" height="330">
            </div>
            <div class="peoplename"><h2>Lishali</h2></div>
            <div class="peoplepost"><h3>(Chief Operating Officer)</h3></div>
        </div>
    </div>
    
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/Fawziya.jpeg" alt="CFO image" width="250" height="400">
            </div>
            <div class="peoplename"><h2>Fawziya</h2></div>
            <div class="peoplepost"><h3>(Chief Financial Officer)</h3></div>
        </div>
    </div>
    
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/vijay.jpeg" alt="CLO image" width="240" height="300">
            </div>
            <div class="peoplename"><h2>Vijayaragavan</h2></div>
            <div class="peoplepost"><h3>(Chief Legal Officer)</h3></div>
        </div>
    </div>
    
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/Dinesh.jpeg" alt="CMO image" width="230" height="300">
            </div>
            <div class="peoplename"><h2>Dinesh</h2></div>
            <div class="peoplepost"><h3>(Chief Marketing Officer)</h3></div>
        </div>
    </div>
{% endblock  %}